{% extends 'base.html' %}

{% block body %}

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Application Security Assessment</h1>
	</div>
	
	<hr>
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h4 class="h4 mb-0 text-gray-800">Total Tasks</h4>
	</div>

	<!-- Content Row -->
	<div class="row">
		
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Requested</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Completed</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ completed }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">In Progress</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ in_progress }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">To be Assigned</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ not_assigned}}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-2 col-md-6 mb-3">
				<div class="card border-left-danger shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ rejected }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		

		<div class="col-xl-12 col-md-12 mb-12">
			<div class="card border-left-primary shadow h-100 py-2">
			  <div class="card-body">
				<div class="row no-gutters align-items-center">
				  <div class="col mr-2">
	

		<div class="container-fluid" style="background-color:#496fdb; color:white; padding:20px;border-radius: 5px;">
			<h3><span style="background-color: white;color:blue;padding:3px;border-radius:4px;">{{application_security.task.code}}</span> &nbsp;&nbsp;&nbsp; Application Name: <span><b>{{application_security.name}}</b></span></h3>
		</div>
		<div class="container-fluid" style="border-bottom:1px solid grey">
			<table class="table table-condensed">
				<tr>
					<td><strong>URL:</strong></td>
					<td>{{application_security.url}}</td>
				</tr>
				<tr>
					<td><strong>Category:</strong></td>
					<td>{{application_security.category}}</td>
				</tr>
				<tr>
					<td><strong>Owner:</strong></td>
					<td>{{application_security.owner}}</td>
				</tr>
				<tr>
					<td><strong>Spoc:</strong></td>
					<td>{{application_security.spoc}}</td>
				</tr>

				<tr>
					<td><strong>Functionlity:</strong></td>
					<td>{{application_security.functionality}}</td>
				</tr>

				<tr>
					<td><strong>No. of Roles:</strong></td>
					<td>{{application_security.role_count}}</td>
				</tr>

				<tr>
					<td><strong>Lines of code:</strong></td>
					<td>{{application_security.loc}}</td>
				</tr>

				<tr>
					<td><strong>Testing Type:</strong></td>
					<td>{{application_security.testing_type}}</td>
				</tr>
				<tr>
					<td><strong>Accessibility:</strong></td>
					<td>{{application_security.accessibility}}</td>
				</tr>
				<tr>
					<td><strong>Development:</strong></td>
					<td>{{application_security.development}}</td>
				</tr>
				<tr>
					<td><strong>Environment:</strong></td>
					<td>{{application_security.environment}}</td>
				</tr>
				<tr>
					<td><strong>Page Count:</strong></td>
					<td>{{application_security.page_count}}</td>
				</tr>
				<tr>
					<td><strong>Comments:</strong></td>
					<td>{{application_security.comments}}</td>
				</tr>



			</table>
		</div>
		<div class="container-fluid">
			<div class="container-fluid" style="background-color:#b5d9e6;color:#555555;">
				<br>
				<table class="table table-condensed" style="background-color:#d7e9f0;color:#555555;">
					<tr>
						<td><strong>Assigned by: </strong></td>
						<td>{{application_security.task.assigned_by.username}}</td>
					</tr>
					<tr>
						<td><strong>Assigned on: </strong></td>
						<td>{{application_security.task.date_posted}}</td>
					</tr>
					{% if perms.activities.change_task %}
						<form action="{% url 'update_status_application' application_security.pk %}" method="POST">
							{% csrf_token %}
								{{form.as_table}}
								<tr>
									<td><input class="btn btn-primary" type=submit value=Submit>
									</td>
								</tr>
						</form>
						{% else %}
						<tr>
							<td><strong>Assigned to:</strong></td>
							<td>{{application_security.task.assigned_to.username}}</td>
						</tr>
						<tr>
							<td><strong>Status:</strong></td>
							<td>{{application_security.task.get_status_display}}</td>
						</tr>
					{% endif %}

				</table>
				<br>
			</div>
		</div>
				</div>
			</div>
			</div>
			</div>
			</div>


	</div>

	<!-- Content Row -->
{% endblock %}
