{% extends 'base.html' %}

{% block body %}

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Configuration Review</h1>
	</div>
	
	<hr>
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h4 class="h4 mb-0 text-gray-800">Total Tasks</h4>
	</div>

	<!-- Content Row -->
	<div class="row">
		
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Requested</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Completed</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ completed }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">In Progress</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ in_progress }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">To be Assigned</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ not_assigned}}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-2 col-md-6 mb-3">
				<div class="card border-left-danger shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ rejected }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		
		{% if config_review_list %}
		<table border=1 width="100%">
			<tr>
				<th><center>Device Name</center></th>
				<th><center>Device Type</center></th>
				<th><center>Department</center></th>
				<th><center>Location</center></th>
				<th><center>Assigned on</center></th>
				<th><center>Status</center></th>
			</tr>
			{% for activity in config_review_list %}
				<tr>
					<td><a href="{% url 'config_review_detail' activity.pk %}">{{ activity.name }}</a></td>
					<td>{{ activity.get_device_type_display }}</td>
					<td>{{ activity.task.assigned_by.department.name }}</td>
					<td>{{ activity.task.assigned_by.department.location }}</td>
					<td>{{ activity.task.date_posted.date }}</td>
					<td>{{ activity.task.get_status_display }}</td>
				</tr>
			{% endfor %}
		</table>
		{% else %}
			<p>There are no application security assessment activities.</p>
		{% endif %}
	</div>

	<!-- Content Row -->
{% endblock %}
