{% extends 'base.html' %}

{% block body %}

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Configuration Audit</h1>
	</div>
	
	<hr>
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h4 class="h4 mb-0 text-gray-800">Total Tasks</h4>
	</div>

	<!-- Content Row -->
	<div class="row">
		
		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Requested</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Completed</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ completed }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">In Progress</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ in_progress }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-2 col-md-6 mb-3">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">To be Assigned</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ not_assigned}}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-2 col-md-6 mb-3">
				<div class="card border-left-danger shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ rejected }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="col-xl-12 col-md-12 mb-12">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
				<a href="{% url 'config_review' %}">Back</a>
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="container-fluid" style="background-color:#496fdb; color:white; padding:20px;border-radius: 5px;">
								<h3>
									<span style="background-color: white;color:blue;padding:3px;border-radius:4px;">
										{{config_review_list.task.code}}
									</span>
									&nbsp;&nbsp;&nbsp; 
									IP Address: <span><b>{{config_review_list.ip_address}}</b></span>
								</h3>
							</div>
							<div class="container-fluid" style="border-bottom:1px solid grey">
								<table class="table table-condensed">
									<tr>
										<td><strong>Device Type:</strong></td>
										<td>{{config_review_list.device_type}}</td>
									</tr>
									<tr>
										<td><strong>Device/Asset Owner:</strong></td>
										<td>{{config_review_list.owner|linebreaks}}</td>
									</tr>
									<tr>
										<td><strong>Divison SPOC:</strong></td>
										<td>{{config_review_list.spoc|linebreaks}}</td>
									</tr>
									<tr>
										<td><strong>Location:</strong></td>
										<td>{{config_review_list.location}}</td>
									</tr>
									<tr>
										<td><strong>Host Count:</strong></td>
										<td>{{config_review_list.host_count}}</td>
									</tr>
									<tr>
										<td><strong>Comments:</strong></td>
										<td>{{config_review_list.comments|linebreaks}}</td>
									</tr>
								</table>
							</div>
							<div class="container-fluid">
								<div class="container-fluid" style="background-color:#b5d9e6;color:#555555;">
									<br>
									<table class="table table-condensed" style="background-color:#d7e9f0;color:#555555;">
										<tr>
											<td><strong>Assigned by: </strong></td>
											<td>{{config_review_list.task.assigned_by.user.first_name}} {{config_review_list.task.assigned_by.user.last_name}}</td>
										</tr>
										<tr>
											<td><strong>Assigned on: </strong></td>
											<td>{{config_review_list.task.date_posted}}</td>
										</tr>
										{% if perms.activities.change_task %}
											<form action="{% url 'update_status_config' config_review_list.pk %}" method="POST">
												{% csrf_token %}
												{{form.as_table}}
												<tr>
													<td><input class="btn btn-primary" type=submit value=Submit></td>
												</tr>
											</form>
										{% else %}
											<tr>
												<td><strong>Assigned to:</strong></td>
												<td>{{config_review_list.task.assigned_to.user.first_name}} {{config_review_list.task.assigned_to.user.last_name}}</td>
											</tr>
											<tr>
												<td><strong>Status:</strong></td>
												<td>{{config_review_list.task.get_status_display}}</td>
											</tr>
										{% endif %}
									</table>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% if is_paginated %}
     <div class="pt-2 pb-2">
         <div class="pagination justify-content-center">
             {% if page_obj.has_previous %}
             <li class="page-item" style="width: 90px">
                 <a class="page-link d-flex justify-content-center" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
             {% else %}
             <li class="page-item disabled" style="width:90px">
                 <a class="page-link d-flex justify-content-center" href="#">
             {% endif %}
                     Previous
                 </a>
             </li>
             <li class="page-item pl-3 pr-3">
                 <div class="mt-1 mb-1">
                     Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                 </div>
             </li>
             {% if page_obj.has_next %}
             <li class="page-item" style="width: 90px">
                 <a class="page-link d-flex justify-content-center" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
             {% else %}
             <li class="page-item disabled" style="width: 90px">
                 <a class="page-link d-flex justify-content-center" href="#">
             {% endif %}
                     Next
                 </a>
             </li>
         </div>
     </div>
     {% endif %}
	<!-- Content Row -->
{% endblock %}
