{% extends 'base.html' %}

{% block body %}

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
          </div>
          
          <hr>


          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h4 mb-0 text-gray-800">Total Tasks (All Divisions)</h4>
          </div>

          <!-- Content Row -->
          <div class="row">
            <div class="col-xl-2 col-md-6 mb-3">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Requested</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-3">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Completed</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_completed }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-2 col-md-6 mb-3">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">In Progress</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_in_progress }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-2 col-md-6 mb-3">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">To be Assigned</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_not_assigned}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
          <div class="col-xl-2 col-md-6 mb-3">
            <div class="card border-left-danger shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Rejected As Invalid</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_rejected }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <hr>
		  <div class="table-responsive">
       <table class='table table-striped table-bordered text-center' width="100%">
	   <thead>
			<tr class="d-flex">
				<th class="col-3" rowspan="2">Service</th>
				<th class="col-3" colspan="3">Marketing Division</th>
				<th class="col-3" colspan="3">Refineries Division</th>
				<th class="col-3" colspan="3">Pipeline Division</th>
				<th class="col-3" colspan="3">R&D Division</th>
				<th class="col-3" colspan="3">Business Development</th>
				<th class="col-3" colspan="3">COIS</th>
			</tr>
			<tr class="d-flex">
				<th class="col-3"></th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
				<th class="col-1">Ordered Quantity</th>
				<th class="col-1">Offered Quantity</th>
				<th class="col-1">Completed Quantity</th>
			</tr>
		</thead>
		<tbody>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Vulnerability Assessment:</b> Devices/Servers</td>
				<td class="col-1">{{ vapt.mkho.order }}</td>
				<td class="col-1">{{ vapt.mkho.offer }}</td>
				<td class="col-1">{{ vapt.mkho.complete }}</td>
				<td class="col-1">{{ vapt.rhq.order }}</td>
				<td class="col-1">{{ vapt.rhq.offer }}</td>
				<td class="col-1">{{ vapt.rhq.complete }}</td>
				<td class="col-1">{{ vapt.plho.order }}</td>
				<td class="col-1">{{ vapt.plho.offer }}</td>
				<td class="col-1">{{ vapt.plho.complete }}</td>
				<td class="col-1">{{ vapt.rd.order }}</td>
				<td class="col-1">{{ vapt.rd.offer }}</td>
				<td class="col-1">{{ vapt.rd.complete }}</td>
				<td class="col-1">{{ vapt.bd.order }}</td>
				<td class="col-1">{{ vapt.bd.offer }}</td>
				<td class="col-1">{{ vapt.bd.complete }}</td>
				<td class="col-1">{{ vapt.cois.order }}</td>
				<td class="col-1">{{ vapt.cois.offer }}</td>
				<td class="col-1">{{ vapt.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Configuration Audit:</b> Devices/Servers</td>
				<td class="col-1">{{ config.mkho.order }}</td>
				<td class="col-1">{{ config.mkho.offer }}</td>
				<td class="col-1">{{ config.mkho.complete }}</td>
				<td class="col-1">{{ config.rhq.order }}</td>
				<td class="col-1">{{ config.rhq.offer }}</td>
				<td class="col-1">{{ config.rhq.complete }}</td>
				<td class="col-1">{{ config.plho.order }}</td>
				<td class="col-1">{{ config.plho.offer }}</td>
				<td class="col-1">{{ config.plho.complete }}</td>
				<td class="col-1">{{ config.rd.order }}</td>
				<td class="col-1">{{ config.rd.offer }}</td>
				<td class="col-1">{{ config.rd.complete }}</td>
				<td class="col-1">{{ config.bd.order }}</td>
				<td class="col-1">{{ config.bd.offer }}</td>
				<td class="col-1">{{ config.bd.complete }}</td>
				<td class="col-1">{{ config.cois.order }}</td>
				<td class="col-1">{{ config.cois.offer }}</td>
				<td class="col-1">{{ config.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Penetration Testing:</b> Web Applications (Internet)</td>
				<td class="col-1">{{ pt.webapp.inter.mkho.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.mkho.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.mkho.complete }}</td>
				<td class="col-1">{{ pt.webapp.inter.rhq.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.rhq.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.rhq.complete }}</td>
				<td class="col-1">{{ pt.webapp.inter.plho.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.plho.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.plho.complete }}</td>
				<td class="col-1">{{ pt.webapp.inter.rd.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.rd.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.rd.complete }}</td>
				<td class="col-1">{{ pt.webapp.inter.bd.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.bd.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.bd.complete }}</td>
				<td class="col-1">{{ pt.webapp.inter.cois.order }}</td>
				<td class="col-1">{{ pt.webapp.inter.cois.offer }}</td>
				<td class="col-1">{{ pt.webapp.inter.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Penetration Testing:</b> Web Services (Internet)</td>
				<td class="col-1">{{ pt.webservice.inter.mkho.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.mkho.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.mkho.complete }}</td>
				<td class="col-1">{{ pt.webservice.inter.rhq.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.rhq.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.rhq.complete }}</td>
				<td class="col-1">{{ pt.webservice.inter.plho.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.plho.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.plho.complete }}</td>
				<td class="col-1">{{ pt.webservice.inter.rd.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.rd.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.rd.complete }}</td>
				<td class="col-1">{{ pt.webservice.inter.bd.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.bd.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.bd.complete }}</td>
				<td class="col-1">{{ pt.webservice.inter.cois.order }}</td>
				<td class="col-1">{{ pt.webservice.inter.cois.offer }}</td>
				<td class="col-1">{{ pt.webservice.inter.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Penetration Testing:</b> Web Applications (Intranet)</td>
				<td class="col-1">{{ pt.webapp.intra.mkho.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.mkho.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.mkho.complete }}</td>
				<td class="col-1">{{ pt.webapp.intra.rhq.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.rhq.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.rhq.complete }}</td>
				<td class="col-1">{{ pt.webapp.intra.plho.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.plho.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.plho.complete }}</td>
				<td class="col-1">{{ pt.webapp.intra.rd.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.rd.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.rd.complete }}</td>
				<td class="col-1">{{ pt.webapp.intra.bd.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.bd.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.bd.complete }}</td>
				<td class="col-1">{{ pt.webapp.intra.cois.order }}</td>
				<td class="col-1">{{ pt.webapp.intra.cois.offer }}</td>
				<td class="col-1">{{ pt.webapp.intra.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Penetration Testing:</b> Web Services (Intranet)</td>
				<td class="col-1">{{ pt.webservice.intra.mkho.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.mkho.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.mkho.complete }}</td>
				<td class="col-1">{{ pt.webservice.intra.rhq.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.rhq.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.rhq.complete }}</td>
				<td class="col-1">{{ pt.webservice.intra.plho.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.plho.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.plho.complete }}</td>
				<td class="col-1">{{ pt.webservice.intra.rd.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.rd.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.rd.complete }}</td>
				<td class="col-1">{{ pt.webservice.intra.bd.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.bd.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.bd.complete }}</td>
				<td class="col-1">{{ pt.webservice.intra.cois.order }}</td>
				<td class="col-1">{{ pt.webservice.intra.cois.offer }}</td>
				<td class="col-1">{{ pt.webservice.intra.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Penetration Testing:</b> Mobile Application</td>
				<td class="col-1">{{ pt.mobile.mkho.order }}</td>
				<td class="col-1">{{ pt.mobile.mkho.offer }}</td>
				<td class="col-1">{{ pt.mobile.mkho.complete }}</td>
				<td class="col-1">{{ pt.mobile.rhq.order }}</td>
				<td class="col-1">{{ pt.mobile.rhq.offer }}</td>
				<td class="col-1">{{ pt.mobile.rhq.complete }}</td>
				<td class="col-1">{{ pt.mobile.plho.order }}</td>
				<td class="col-1">{{ pt.mobile.plho.offer }}</td>
				<td class="col-1">{{ pt.mobile.plho.complete }}</td>
				<td class="col-1">{{ pt.mobile.rd.order }}</td>
				<td class="col-1">{{ pt.mobile.rd.offer }}</td>
				<td class="col-1">{{ pt.mobile.rd.complete }}</td>
				<td class="col-1">{{ pt.mobile.bd.order }}</td>
				<td class="col-1">{{ pt.mobile.bd.offer }}</td>
				<td class="col-1">{{ pt.mobile.bd.complete }}</td>
				<td class="col-1">{{ pt.mobile.cois.order }}</td>
				<td class="col-1">{{ pt.mobile.cois.offer }}</td>
				<td class="col-1">{{ pt.mobile.cois.complete }}</td>
			</tr>
			<tr class="d-flex">
				<td class="col-3 text-left"><b>Daily Monitoring:</b> Crtical Web/ Mobile Apps</td>
				<td class="col-1">{{ daily.mkho.order }}</td>
				<td class="col-1">{{ daily.mkho.offer }}</td>
				<td class="col-1">{{ daily.mkho.complete }}</td>
				<td class="col-1">{{ daily.rhq.order }}</td>
				<td class="col-1">{{ daily.rhq.offer }}</td>
				<td class="col-1">{{ daily.rhq.complete }}</td>
				<td class="col-1">{{ daily.plho.order }}</td>
				<td class="col-1">{{ daily.plho.offer }}</td>
				<td class="col-1">{{ daily.plho.complete }}</td>
				<td class="col-1">{{ daily.rd.order }}</td>
				<td class="col-1">{{ daily.rd.offer }}</td>
				<td class="col-1">{{ daily.rd.complete }}</td>
				<td class="col-1">{{ daily.bd.order }}</td>
				<td class="col-1">{{ daily.bd.offer }}</td>
				<td class="col-1">{{ daily.bd.complete }}</td>
				<td class="col-1">{{ daily.cois.order }}</td>
				<td class="col-1">{{ daily.cois.offer }}</td>
				<td class="col-1">{{ daily.cois.complete }}</td>
			</tr>
		</tbody>
		</table>
		</div> 
          
      </div>
  {% endblock %}
